
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home page</title>
</head>
<body> 
  <h1>this is the home page 1 + 2 = 3 </h1>
  <p>this is from ejs</p>
  <h3><%= 1 * 2  %></h3>
  <h3><%= ["hello", "devil", "shivam"][2] %></h3>
  
  <button>clicke me!</button>

  <button> catch the syntax kladjfh </button> 
   
</body>
</html>