/* #gola {
    height: 200px; 
    width: 70px; 
    border: 2px solid black; 
}  

.hello {
    height: 50px;
    width: 50px;
    border: 2px solid black;  
    margin: 10px; 

    border-radius: 500px;
}  

#red {
    background-color: red; 
}  

#yellow {
    background-color: yellow;
}  

#green {
    background-color: green; 

} */


/* span {
    background-color: yellow; 
    border: 2px solid black; 
    height: 100px;
    width: 200px;
    padding: 50px; 
    
} */
 

/* next  */

 
/* button {
     border-radius: 15px;
     font-size: 50px;
     border: 5px solid green;
    padding-left: 1em;
    padding-right: 1em;
 } */ 


 /* next rem */

/* section { 
    font-size: 20px;
 } 

 div {
    font-size: 5rem;
 } */
 

 /* create a box using div. set  */
 /* Assignment ques  */


/* div {
    height: 150px;
    width: 300px;
    background-color: grey;
    border: 5px dotted black;  
    margin-top: 20px 1em 40px 2em;
    padding: 1em;

} */
   
 

.div1 {
    height: 100px;
    width: 100px;
    background-color: pink;
    border: 2px solid black;
    border-radius: 50%;
    display: inline-block; 

} 





















