* {
    font-family: Courier New;
}

h1 {
    color: #1b74e4;
} 

#Register,
#login {
    background-color: aqua; 
    color: #ff0000;

} 

button {
    background-color: black; 
    color: white;
}

#myId p {
    color: red; 
    background-color: yellow; 
    text-decoration: underline;
    
}

button:hover {
    color: black;
    background-color: yellow;
}






