/* * {
    font-family: Courier New;
}

h1 {
    color: #1b74e4;
} 

#Register,
#login {
    background-color: aqua; 
    color: #ff0000;

} 

button {
    background-color: black; 
    color: white;
}

#myId p {
    color: red; 
    background-color: yellow; 
    text-decoration: underline;
    
}

button:hover {
    color: black;
    background-color: yellow;
} */
 
/**-----------another-------------*/ 


* {
    text-align: center; 
    background-color: bisque;
} 

#mainTopic {
    color: blue;
}
h1,
h3,
h5 {
    font-family: Georgia;
} 

.content {
    background-color: cornflowerblue;
    color: white;
}

div button {
    color: azure;
    background-color: purple;
} 

button:hover {
    color: blue; 
    background-color: yellow;
}
 
p:nth-of-type(2n+1){
    color: green;
} 

h1::first-letter {
    color: #ff0000;
} 

#yes:checked + { 
    color: darkgreen;
}




